 <div class="panel"> 
   <h3 align="center">Ruby on Rails Application Development</h3>
    <pre>
    	<h3>
    	  <small>
    		Web Application Development using Agile, Scrum Methodologies
	        Developer API and Web Services Development
	        RESTful Web services for existing Applications
	        Facebook API Integration
	        Amazon Web Service Integration
	        Google API Integration
	        Twitter API Integration
	        E-Commerce Shopping Carts, E-commerce Integration
	        Payment Processing using Paypal, Braintree, AuthorizeNET
	        High Performance using Mongrel Cluster, Phusion Passenger
	        Apache, nginx Web Servers for Performance
	      </small>
	    </h3>
    </pre>

 </div>
 