label.right {
  padding-right: 10px;
}
.top-bar-section ul{
	background: #fff;
}
.top-bar-section ul li a{
	color: #585858;
	font-size: 16px;
}
.top-bar-section ul li a:hover{
	color: #73c20e;
}
.top-bar .toggle-topbar.menu-icon a:hover{
	background: #fff;
}